@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    background-color: #1f242d;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.titulo {
    font-size: 45px;
    margin-bottom: 40px;
    text-align: center;
}

.nav-links {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    background-color: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.nav-links .logo {
    font-size: 30px;
    font-weight: 700;
}

.nav-links ul {
    display: flex;
    align-items: center;
}

.nav-links ul li {
    list-style: none;
    margin-left: 35px;
}

.nav-links ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

.nav-links ul li:hover a {
    color: #7a2525;
}

.nav-links select {
    margin-left: 10px;
    border-radius: 8px;
    background-color: #1f242d;
    border: solid;
    border-width: 2px;
    color: #ffffff;
    font-weight: 700;
}

.sobre {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 60px 9% 60px;
    color: #ffffff;
    justify-content: space-between;
    background-color: #1f242d;
    border-bottom: 2px solid #2c323d;
}

.sobre-info {
    max-width: 800px;
}

.sobre-info h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.sobre-info p {
    font-size: 16px;
    margin-bottom: 30px;
}

.sobre-info .botao {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7a2525;
    border: 2px solid #7a2525;
    border-radius: 35px;
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    transition: 0.5s;
}

.sobre-info .botao:hover {
    background-color: #1f242d;
    scale: 1.1;
}

.foto-grade .foto {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1f242d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.foto-grade .foto {
    mix-blend-mode: lighten;
}

.contato {
    min-height: 40vh;
    padding: 60px 9%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232830;
    border-bottom: 2px solid #2c323d;
}



.formulario_card {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_formulario {
    width: 100%;
}

.campo_formulario {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #ffffff;
    background-color: #2c323d;
    color: #ffffff;
    font-size: 16px;
    resize: none;
}

.campo_formulario::placeholder {
    color: #a0a0a0;
}

.campo_formulario:focus {
    outline: none;
    border-color: #7a2525;
}

.botao_formulario {
    padding: 12px 30px;
    background-color: #7a2525;
    border: 2px solid #7a2525;
    border-radius: 35px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
    align-self: center;
}

.botao_formulario:hover {
    background-color: #1f242d;
    scale: 1.05;
}

.projetos {
    min-height: 40vh;
    padding: 60px 9%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f242d;
    border-bottom: 2px solid #2c323d;
}



.projetos_grade {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}

.projetos_card {
    background-color: #2c323d;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.projetos_card:hover {
    transform: scale(1.05);
}

.projetos_card h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.projetos_card p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #d3d3d3;
}

.imagem-card-projetos {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.projetos_botao {
    padding: 10px 20px;
    background-color: #7a2525;
    border: 2px solid #7a2525;
    border-radius: 35px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.projetos_botao:hover {
    background-color: #1f242d;
}

.repositorios_grade {
    padding: 60px 9%;
    color: #ffffff;
    background-color: #232830;
    text-align: center;
    border-bottom: 2px solid #2c323d;
}

.repositorios_grade h2 {
    font-size: 32px;
    margin-bottom: 40px;
}

.repositorios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.repositorios_card {
    background-color: #2c323d;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
}

.repositorios_card:hover {
    transform: scale(1.05);
}

.repositorios_card_interno_esquerdo {
    text-align: left;
}

.titulo-repositorio {
    margin-bottom: 10px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.url-repositorio {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.repositorios_card_interno_direito {
    text-align: right;
}

.ano {
    margin-bottom: 10px;
    background: #7a2525;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
}

.linguagem {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 12px;
}

.habilidades {
    min-height: 40vh;
    padding: 60px 9%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f242d;
    border-bottom: 2px solid #2c323d;
}


.habilidades_grade {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}

.habilidades_icons {
    text-align: center;
}

.habilidades_icons i {
    font-size: 48px;
}

.habilidades_icons p {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

.experiencia {
    min-height: 40vh;
    padding: 60px 9%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232830;
    border-bottom: 2px solid #2c323d;
}



.experiencia_grade {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    width: 100%;
    max-width: 1200px;
}

.experiencia_card {
    background-color: #2c323d;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.experiencia_card:hover {
    transform: scale(1.05);
}

.experiencia_card h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.experiencia_card p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #d3d3d3;
}

.educacao {
    min-height: 40vh;
    padding: 60px 9%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f242d;
    border-bottom: 2px solid #2c323d;
}



.educacao_grade {
    width: 100%;
    max-width: 1200px;
}

.educacao_card {
    background-color: #2c323d;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    transition: 0.3s;
}

.educacao_card:hover {
    transform: scale(1.05);
}

.educacao_card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.educacao_card p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #d3d3d3;
}

.educacao_card .ano {
    font-weight: 600;
}

.rodape {
    background-color: #171717;
    color: #ffffff;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}


@media(max-width: 1100px) {
    .nav-links {
        display: none;
    }

    .foto-grade .foto {
        display: none;
    }

}

@media(max-width: 600px) {
    .sobre {
        align-items: center;

    }

    .foto-grade .foto {
        display: none;
    }

}