@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: #ffffff
}

li,
a {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fafafa;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252A;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 20px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #5c5c5c;
}