@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: #ffffff,



}

li,
a {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fafafa;

}

/**********************barra navegação**************/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252A;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 20px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #5c5c5c;
}

/***********************sobre*********************/
.sobre {
    display: flex;
    flex-direction: column;
    background-color: #24252A;
    font-family: "Heebo", sans-serif;
    padding: 10px;
    height: 80vh;
    width: 100%;
    color: #ffffff;
}

.sobre_card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.foto_perfil {
    object-fit: cover;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
}

/************************projetos******************/
.projetos {
    display: flex;
    flex-direction: column;

    background-color: #7c7c7c;
    font-family: "Heebo", sans-serif;
    padding-top: 10px;
    height: 55vh;
    width: 100%;
    color: #ffffff;
}

.projetos_grade {
    display: flex;
    flex-direction: row;
}

.projetos_card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    background-color: #24252A;
    border-radius: 8px;
    height: 340px;
    width: 380px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 8px;

}


.projetos_card p {
    margin-bottom: 10px;

}

.imagem-card-projetos {
    object-fit: cover;
    overflow: hidden;
    height: 200px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;

}

.projetos_botao {
    background-color: #7a2525;
    color: #ffffff;
    padding: 8px;

    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}

.projetos_botao:hover {
    color: #e2dfdf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    scale: 1.02;
}

/*****************github repositorios*************/
.repositorios_grade {
    background-color: #7c7c7c;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

}

.repositorios_grade h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    font-family: "Heebo", sans-serif;
}

.repositorios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #7c7c7c;
    font-family: "Heebo", sans-serif;
    padding-bottom: 10px;
    height: auto;
    width: 100%;
    color: #ffffff;
    justify-content: center;
    gap: 15px;
    /* Reduced gap */
}


.data_repositorios {
    background: #7a2525;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-right: 8px;
    /* Reduced margin */
}

.repositorios_card {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    border-color: #ffffff;
    padding: 15px;
    background-color: #24252A;
    height: 90px;
    width: 500px;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.repositorios_card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    scale: 1.04;
}

.repositorios_card_interno_esquerdo,
.repositorios_card_interno_direito {
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.titulo-repositorio,
.url-repositorio {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;



}



/*************************************************/

/************************habilidades**************/

.habilidades {
    display: flex;
    flex-direction: column;
    background-color: #24252A;
    font-family: "Heebo", sans-serif;
    padding: 10px;
    height: 40vh;
    width: 100%;
    color: #ffffff;
}

.habilidades h1 {
    margin: 10px;
}

.habilidades_grade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.habilidades_icons {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 8px;

}

/********************experiencia*********************/
.experiencia {
    display: flex;
    flex-direction: column;
    background-color: #7c7c7c;
    font-family: "Heebo", sans-serif;
    padding: 10px;
    height: 40vh;
    width: 100%;
    color: #ffffff;
}

/*********************educação*********************/
.educacao {
    display: flex;
    flex-direction: column;
    background-color: #24252A;
    font-family: "Heebo", sans-serif;
    padding: 10px;
    height: 40vh;
    width: 100%;
    color: #ffffff;
}

.ano {

    background: #7a2525;
    color: #fff;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-right: 10px;

}

.educacao h1 {
    margin: 10px;
    margin-bottom: 40px;
}

/***********************contato*******************/
.contato {
    display: flex;
    flex-direction: column;
    background-color: #7c7c7c;
    font-family: "Heebo", sans-serif;
    padding: 10px;
    height: 80vh;
    width: 100%;
    color: #ffffff;
}

.contato h1 {
    margin: 10px;
    margin-bottom: 40px;
}

.formulario_card {
    height: 350px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #24252A;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #879197;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #ffffff;
    border-width: 2px;
    border-radius: 8px;
}

.input_formulario {
    margin: 7px;
}

.campo_formulario {
    justify-content: center;
    padding: 10px;
    margin: 8px;
    width: 350px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.botao_formulario {
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: #7a2525;
    /* background-color: #FF6464; */
    border-radius: 8px;
    font-size: 20px;
    border: none;
    padding: 10px;
    margin: 15px;
    transition: all 0.3s ease 0s;
}

.botao_formulario:hover {
    color: #e2dfdf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    scale: 1.05;
}

/***********************rodapé*********************/
.rodape {
    background-color: #171717;
    color: #ffffff;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .sobre h1 {
        font-size: 20px;
    }

    .sobre p {
        padding: 10px;
    }

    .sobre {
        padding: 20px 5px;
        height: auto;
        font-size: 14px;
    }

    .sobre_card {
        flex-direction: column;
        align-items: center;
    }

    .foto_perfil {
        margin: 0 auto 20px auto;
    }

    .projetos {
        padding: 20px 5px;
        height: auto;
        font-size: 14px;
    }

    .projetos_grade {
        flex-direction: column;
    }

    .projetos_card {
        width: 90%;
    }

    .habilidades {
        padding: 20px 5px;
        height: auto;
        font-size: 14px;
    }

    .habilidades_grade {
        flex-direction: column;
    }

    .habilidades_icons {
        width: 100px;
        height: 100px;
    }

    .experiencia {
        padding: 20px 5px;
        height: auto;
        font-size: 14px;
    }

    .educacao {
        padding: 20px 5px;
        height: auto;
        font-size: 14px;
    }

    .contato {
        padding: 20px 5px;
        height: auto;
        font-size: 14px;
    }

    .formulario_card {
        width: 90%;
    }

    .campo_formulario {
        width: 90%;
    }

    .rodape {
        padding: 30px;
        font-size: 12px;
    }

    .repositorios_card {
        width: 350px;
    }

    .titulo-repositorio,
    .url-repositorio {
        width: 200px;
        text-overflow: ellipsis;

    }
}