@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: #ffffff,


}

li,
a {
    font-family: 'Lexend', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #fafafa;

}

/**********************barra navegação**************/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252A;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 20px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #5c5c5c;
}


/************************projetos******************/
.projetos {
    display: flex;
    flex-direction: column;
    background-color: #7c7c7c;
    font-family: "Heebo", sans-serif;
    padding: 10px;
    height: 80vh;
    width: 100%;
    color: #ffffff;
}

.projetos_grade {
    display: flex;
    flex-direction: row;

}

.projetos_card {
    padding: 10px;
    margin: 10px;
    background-color: #24252A;
    border-radius: 8px;
    height: 350px;
    width: 400px;

}

.projetos_card p {
    margin-bottom: 15px;
}

.imagem-card-projetos {
    object-fit: cover;
    overflow: hidden;
    height: 200px;
    width: 100%;
    border-radius: 8px;

}

/************************habilidades**************/

.habilidades {
    display: flex;
    flex-direction: column;
    background-color: #24252A;
    font-family: "Heebo", sans-serif;
    padding: 10px;
    height: 40vh;
    width: 100%;
    color: #ffffff;
}

.habilidades h1 {
    margin: 10px;
    margin-bottom: 40px;
}

.habilidades_grade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.habilidades_icons {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    width: 100px;
}

/***********************contato*******************/
.contato {
    display: flex;
    flex-direction: column;
    background-color: #7c7c7c;
    font-family: "Heebo", sans-serif;
    padding: 10px;
    height: 80vh;
    width: 100%;
    color: #ffffff;
}

.contato h1 {
    margin: 10px;
    margin-bottom: 40px;
}

.formulario_card {
    height: 350px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #24252A;

    border-radius: 8px;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #879197;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input_formulario {
    margin: 7px;
}

.campo_formulario {
    justify-content: center;
    padding: 10px;
    margin: 8px;
    width: 350px;
    border-radius: 8px;
    outline: none;
    border: none;
}

.botao_formulario {
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
    background-color: #FF6464;
    border-radius: 8px;
    font-size: 20px;
    border: none;
    padding: 10px;
    margin: 15px
}

.botao_formulario:hover {
    color: #e2dfdf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}

/***********************rodapé*********************/
.rodape {
    background-color: #171717;
    color: #ffffff;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px;

}